<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gcm_server_key</key>
	<string>AAAAXANZbDU:APA91bE4hpvq156kQNOQmHClGfG_sp2qH0q47v8KZ8EOwwyfxWQgXOvwtGHqkkod03urxaSU_LnhyZsGvE8CeGUklrkTrctHsD2dcaE9cFA4fBbunkiMZQWdoQcYYFsqKAla2P1fbxuK</string>
</dict>
</plist>
